$spacer: 16px
$sm-spacer: 5px

a
  text-decoration: none

  i
    text-decoration: none

    &:hover
      text-decoration: none

  &:hover
    text-decoration: underline

    i
      text-decoration: none

      &:hover
        text-decoration: none

i
  margin: 0 !important

.list-group-item-name
  margin-left: $sm-spacer
  margin-bottom: 0

.input-group-user
  z-index: 5

.logo

  img
    height: 44px

.logo
  font-size: 30px

.logo-img
  height: 64px

.dropdown-avatar
  height: 44px

.dropdown-toggle-avatar, .dropdown-toggle-more
  padding: 0
  border: 0
  background: none
  box-shadow: none

  &:hover, &:focus, &:checked, &:active
    // background: none !important
    border: 2px solid blue
    // box-shadow: none !important

// .dropdown-toggle-more
//   color: gray

//   &:hover, &:focus, &:checked, &:active
//     color: gray
//     background: lightgray !important

// .search-bar
//   width: 500px

.input-email, .input-password
  width: 260px

main
  min-height: calc(100vh - 53px)

  .section-only
    height: calc(100vh - 106px)
    margin-bottom: 53px

.input-group-container
  height: 40px

.input-group-password
  height: 0
  overflow: hidden
  transition: height 0.8s

.section-register
  top: 0
  width: 100vw
  height: 100vh
  background: #ffffffcc

  form
    width: 500px
    background: white

.link-find-account
  height: 24px

.link-help

  i
    font-size: 44px

meter
  width: 100%

.label-female, .label-male, .label-other
  padding-left: 12px !important

.input-female, .input-male, .input-other
  margin-right: 12px !important

.label-group
  width: 100%

.input-digit
  padding-top: $spacer
  padding-bottom: $spacer

.section-chats
  height: calc(100vh - 53px)

.left-nav
  height: 100%

  .top-left-nav
    height: 53px

.chat-header
  min-height: 55px
  height: 55px

.chat-footer
  height: 50px

.chat-footer
  height:

.btn-write
  width: 35px !important
  height: 35px !important

  i
    margin: 0

.btn-send

  i
    color: blue
    font-size: 40px
    margin-right: 0
    margin-left: 5px

  &:disabled

    i
      color: gray

.img
  height: 60px
  margin: 13px 0 0 15px

.box-sender-message, .box-receiver-message,
  --bs-text-opacity: 0.9 !important
  border-radius: 25px
  width: fit-content
  padding-left: 12px
  padding-right: 12px
  margin-bottom: 2px

.col-message

  &:hover button
    display: inline-block !important

.input-title
  width: auto !important
  block-size: fit-content

@media (max-width: 1024px)
  .search-bar
    width: 250px

@media (max-width: 800px)
  .search-bar
    width: auto
    background: blue
    border: 1px solid blue !important

@media (max-width: 560px)

  .avatar
    margin-left: 8px
